navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    padding: 10px;
}

.menu-toggle {
    display: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
    background: none;
    border: none;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: black;
    text-decoration: none;
    padding: 0 10px;
    opacity: 1;
    /* Start with 0 opacity */
    animation: fadeIn 2s ease forwards;
    /* Apply fade-in animation */
}

.nav-links a:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
}

@media (max-width: 600px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: row;
        width: 100%;

        position: absolute;

        opacity: 1;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links a {
        padding: 10px;

    }

    /* Fade-in animation keyframes */
    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
}