/* navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #191818;
    padding: 10px;
  }
  
  .menu-toggle {
    display: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    opacity: 1; /* Start with 0 opacity */
    animation: fadeIn 2s ease forwards; /* Apply fade-in animation */
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .active {
    font-weight: bold;
  }
  
  @media (max-width: 600px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 60px;
      background-color: #333;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links a {
      padding: 10px;
      border-bottom: 1px solid #555;
    }
  
    /* Fade-in animation keyframes */
    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }
  }
  