.piechart {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 60vw;
  min-width: 300px;
  margin-top: 2rem;
  max-width: 600px;
}

.main {
  color: white;
  text-align: center;
  display: grid;
  place-items: center;
}

.main>h1 {
  margin-bottom: 1rem;
  animation: 1s ease-out 0s 1 slidein;
}

.main>h3 {
  animation: 1.2s ease-out 0s 1 slidein;
}

@keyframes slidein {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 450px) {
  .main>h1 {
    font-size: 7vw;
  }

  .main>h3 {
    font-size: 4vw;
  }
}

.text-container {
  margin-top: -300px;
}