body {
  background: #191414;
  margin: 2rem;
}

.login {
  display: grid;
  place-items: center;
  height: 40vh;
}

.login>h1 {
  color: white;
  text-align: center;
  animation: 1.3s ease-out 0s 1 coolSlide;
}

@keyframes coolSlide {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(15%);
  }

  100% {
    transform: translateX(0);
  }
}