/* .container {
  color: white;
  border-style: solid;
  border-color: red;
  margin: auto;
}
.chart {
  position: relative;
  height: 80vh;
  width: 80vw;
  overflow: auto;
} */

.container {
  display: grid;
  place-items: center;
}
