.main {
  color: white;
  text-align: center;
  display: grid;
  place-items: center;
}

.happify {
  display: grid;
  place-items: center;
  height: 100vh;
}

.main>h1 {
  margin-bottom: 1rem;
  animation: 1s ease-out 0s 1 slidein;
}

.main>h3 {
  animation: 1.2s ease-out 0s 1 slidein;
}

@keyframes slidein {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 450px) {
  .main>h1 {
    font-size: 7vw;
  }

  .main>h3 {
    font-size: 4vw;
  }
}

#svg-container {
  padding-top: 50px;
}