.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 12px;
}

.footer > a {
  color: white;
  text-decoration: none;
}