.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 12px;
}

.footer > a {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: 'InterTightBold'; /* Provide a name for your font */
  src: url('./fonts/InterTight-Bold.ttf') format('truetype'); /* Path to your TTF font file */
}

body {
  font-family: 'InterTightBold', sans-serif; /* Use the custom font for your text */
}